.card-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 250px;
  margin-top: -130px;
  margin-left: 30px;
}

.card-quote h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  margin-bottom: 10px;
}

.card-quote p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  
}

.quote-container-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.quote-image-start {
  height: 50px;
  width: 60px;
  object-fit: contain;
  margin-right: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.quote-image-end {
  height: 50px;
  width: 60px;
  object-fit: contain;
  margin-left: 100px;
  -o-transform: scaleX(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1) !important;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.card-quote p {
  width: 200px;
}
