.Availabilitys-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 40px;
  width: 250px !important;
  margin-left: 100px;
}

.Availabilitys-container h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  margin-bottom: 5px;
}

.Availabilitys-container p {
  margin-top: 10px;
}
