.user-expe-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}

.chip-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-create-chip-delete {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #eb5757;
  color: #ffff;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px !important;
  margin-right: -10px;
  z-index: 10000 !important;
  cursor: pointer;
}

.chip-user-expe {
  min-width: 80px;
  width: auto !important;
  height: 24px;
  background: #333333;
  border-radius: 4px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 5px;
}

.chip-user-expe p {
  font-weight: 200;
  font-size: medium;
}

.input-expe-user {
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.06);
  font-size: 14px;
  border-bottom: 1px solid #333333;
  width: 50px;
  height: 20px;
  margin-left: 10px;
}

.btn-create-chip {
  width: 24px;
  height: 24px;
  color: #ffff;
  background: #333333;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
}
