.input-info-name-form {
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.06);
  width: 360px;
  height: 48px;
  font-size: 40px;
  border-bottom: 1px solid #333333;
}

.switch-input-value-name {
  width: 360px;
  height: 48px;
}

.switch-input-value-name:hover {
  width: 360px;
  height: 48px;
  background: rgba(0, 0, 0, 0.06);
}

.error-logo {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

.logo {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: green;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

.display-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 745px) {
  .switch-input-value-name {
    width: 160px;
    height: 40px;
  }

  .switch-input-value-name:hover {
    width: 160px;
    height: 40px;
  }
}
