.upload_btn {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  outline: none;
  border: none;
  position: relative;
  z-index: 1;
}

.image-replace-logo {
  height: 25px !important;
  width: 25px !important;
  border-radius: 50% !important;
  background-color: #3483cc;
  color: #fff !important;
  margin-left: 160px;
  margin-bottom: 140px;
}

.header_image {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  border: 4px solid #fff;
  z-index: -200 !important;
}

.header_image:hover {
  opacity: 0.8;
}
