.navbar-slider-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 230px;
  background: #f0f1f2;
  position: absolute;
}

.left-side-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-replace-image-container {
  display: inline;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.btn-replace-image {
  outline: none !important;
  border: none !important;
  color: #fff !important;
  height: 30px !important;
  width: 30px !important;
  border-radius: 50% !important;
}

.image-replace {
  outline: none !important;
  border: none !important;
  color: #fff !important;
  height: 30px !important;
  width: 30px !important;
  border-radius: 50% !important;
  margin-left: 112px;
  background-color: #333333 !important;
  object-fit: contain;
}

/* .navbar-image-container img {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  border: 4px solid #ffffff;
} */

.navbar-info-user-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Roboto";
}

.navbar-chip-experience {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.ship-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  z-index: 1000;
  margin-top: 130px;
}

.ship-experience {
  width: 86px;
  height: 24px;
  background-color: #333333;
  color: #f0f1f2;
  border-radius: 4px;
}

.create-input-button {
  outline: none;
  border: none;
  background-color: #333333;
  color: #ffff;
  width: 24px;
  height: 24px;
  border-radius: 4px;

  z-index: 1000;
}

.print-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.print-btn {
  background-color: transparent;
  color: #6fa5d7;
  border: none;
  margin-bottom: 100px;
  cursor: pointer;
}

.print-btn:hover {
  color: #eb5757;
}

.printer-image {
  height: 20px;
  width: 20px;
  margin-bottom: 100px;
  margin-right: 10px;
  caret-color: #6fa5d7;
}

.form-edit-name {
  height: 20px !important;
  width: 200px !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  margin-right: 10px;
}

.btn-replace-image {
  height: 80px;
  width: 80px;
  outline: none !important;
  border: none !important;
  cursor: pointer;
  margin-right: -135px;
  z-index: 1000 !important;
  background-color: transparent;
  margin-top: -100px;
}
.flex-wrap img {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-right: 5px;
}

@media screen and (max-width: 750px) {
  .navbar-slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 230px;
    background: #f0f1f2;
    position: absolute;
  }

  .left-side-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-image-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ffffff;
}

  .print-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}
